{% extends 'main/base.html' %} {%block content%}

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nome:</label>
      <input
        type="email"
        class="form-control"
        value="nome_completo"
        placeholder="Digite seu nome"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Email:</label>
      <input
        type="password"
        class="form-control"
      value="email"
        placeholder="Digite seu e-mail"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Data Nascimento:</label>
    <input
      type="text"
      class="form-control"
      value="data_nascimento"
      placeholder="Digite su Data de Nascimento"
    />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Data Cadastro</label>
    <input
      type="text"
      class="form-control"
      value="data_cadastro"
      placeholder="Data do Cadastro"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Situação</label>
      <input type="text" class="form-control" id="inputCity" />
    </div>
    <div class="form-group col-md-4">
      <label for="inputEstado">Situação</label>
      <select value="ativo" class="form-control">
        <option selected>Escolher...</option>
        <option value="1">Ativo</option>
        <option value="0" selected>Inativo</option>
      </select>
    </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{%endblock content%}
