{% extends 'main/base.html' %} {%block content%}
<h1>Lista de Pessoas</h1>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark" id>
    <tr>
      <th scope="col">ID:</th>
      <th scope="col">Nome:</th>
      <th scope="col">Email:</th>
      <th scope="col">Ativo:</th>
      <th scope="col">Data Nascimento:</th>
      <th scope="col">Data Cadastro:</th>
    </tr>
  </thead>
  <tbody>
    {% for pessoa in object_list %}
    <tr>
      <th scope="row">{{pessoa.id}}</th>
      <td>{{pessoa.nome_completo}}</td>
      <td>{{pessoa.email}}</td>
      <td>{{pessoa.ativo}}</td>
      <td>{{pessoa.data_nascimento}}</td>
      <td>{{pessoa.data_cadastro}}</td>
    </tr>
  </tbody>
  {%endfor%}
</table>
{%endblock content%}
